[Desktop Entry]
Type=Application
Version=1.0
Name=Install
Name[pt_BR]=Instalar
GenericName=System Installer
GenericName[pt_BR]=Instalador do Sistema
Comment=Install the operating system to disk
Comment[pt_BR]=Instala o sistema operacional no disco
Exec=/usr/bin/calamares_polkit %f
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
